body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

#informacoes-gerais {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

#cotacoes {
    display: flex;
    gap: 20px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

#noticias {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#noticias div {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}